# Linter dependencies
flake8
black
mypy
# Documentation generation
mkdocs
# Release info generation
gitchangelog
# Code coverage report
coverage
pytest-cov
codecov
# Automatically format requirements
isort
# Test suite dependencies
pytest
